<h1>Artist List</h1>
<h3>See below for a list of artist:</h3>

    <% @artists.each do |a| %>
        <%= link_to a.name, artist_path(a) %> - <%= pluralize(a.songs.count, "song") %> <%= a.song_count%><br>
    <% end %>
